{% extends 'base.html' %}
{% load static %}

{% block title %}
Details
{% endblock title %}


{% block content %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">

    <div class="card border-success text-center">
        <h1 class="text-center">{{ post.title }}</h1>
        <p class="col-6 offset-3">{{post.content}}</p>
        <p>
          <img src="/media/{{post.image}}" alt="img">
        </p>

    </div>

    </div>
  </div>

{% endblock content %}




